@media (max-width: 62rem) {
  .locations {
    display: inline;
  }
  .location:nth-of-type(even) {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

@media not (max-width: 62rem) {
  .locations {
    display: flex;
  }

  .location:nth-of-type(even) {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.loading-location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  box-shadow: 5px 5px 5px var(--border-color);
  flex-grow: 1;
  height: 60px;
  cursor: pointer;
}

.location-temp {
  font-size: 24px;
  font-weight: 600;
}

.toggl-btn {
  width: 20px;
  height: 20px;
}

.units-btn {
  background-color: var(--border-color);
  border-radius: 5px 20px 5px;
  font-size: 14px;
  width: 10px;
  text-align: center;
}
