@import url("https://fonts.googleapis.com/css?family=Raleway:500,600,700");

:root {
  --border-color: rgba(0, 0, 255, 0.2);
  --details-border: 2px solid var(--border-color);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  padding: 20px;
}

button {
  all: unset;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
}

button:focus {
  outline: rgba(0, 0, 255, 0.2) 5px auto;
}

h1 {
  font-size: 25px;
  font-weight: 600;
}
